name: "Project Management System CI/CD"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      -name: "Checkout code"
      uses: actions/checkout@v4

      -name: "Setting up project"
      run: |
        echo "test"    